extends layout

block vars
	- var pageTitle = 'Home'

block content
	div.container
		#user
			if successMessage
				div.alert.alert-success.alert-dismissable
					a(href='#', class='close', data-dismiss='alert', aria-label='close') &times
					p #{successMessage}
			if errorMessage
				div.alert.alert-danger.alert-dismissable
					a(href='#', class='close', data-dismiss='alert', aria-label='close') &times
					p #{errorMessage}
			if !user.credentials.exerciseDotCom.username
				div
					a(href='/settings', class='btn btn-primary') Register Exercise.com
			div.recent-workouts
				h2 Recent Workouts
					if(recentWorkouts.length)
						each val in recentWorkouts
							h3 #{val.workoutDate}
							table(class='table table-bordered')
								tr
									th(class="col-sm-2") Exercise
									th(class="col-sm-1") Reps
									th(class="col-sm-1") Sets
									th(class="col-sm-1") Distance
									th(class="col-sm-1") Duration (Minutes)
									th(class="col-sm-1") Points
										each workout in val.workoutsRecord
											tr
												td(class="col-sm-2") #{workout.exerciseName}
												td(class="col-sm-1") #{workout.reps}
												td(class="col-sm-1") #{workout.sets}
												td(class="col-sm-1") #{workout.distance}
												td(class="col-sm-1") #{workout.duration}
												td(class="col-sm-1") #{workout.points}
					else
						h4.error No recent workouts found
